.Paulo {
          width: 150px;
          border: 3px solid #584738;
          
          margin right: 300px; 
}

.btn{
          margin-top: 25%;
          margin-left: 20%;
          width: 100px;

}

.perfil {
          display: flex;
          align-items: center;
          gap: 20px;

}

.texto {
  border: 2px solid black;
  background-color: #F1EADA;
  padding: 25px;
  width: 600px;
  height: 165px;
}



.caixa-texto p {
  position: relative;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  z-index: auto; 
  pointer-events: none;
}

.icon {

  width: 140px;
  right: 20px;

}

body{
  background-color: #584738;
}

