body {   background-color: #CEC1A8;
  }

p{
          font-size: larger;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h1{
          font-family: Verdana, Geneva, Tahoma, sans-serif
}

h2{
          font-family: Verdana, Geneva, Tahoma, sans-serif
}

h3{
          font-family: Verdana, Geneva, Tahoma, sans-serif
}
.Corpo-texto{
          margin-top: 15%;
}
